<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      @for (pixabay of pixabays; track pixabay.id) {
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a
          [routerLink]="['/details', pixabay.id]"
          class="block relative h-48 rounded overflow-hidden"
        >
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="{{ pixabay.webformatURL }}"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            {{ pixabay.tags }}
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            {{ pixabay.id }}
          </h2>
          <p class="mt-1">${{ pixabay.likes }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
